<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covidApp</title>
</head>
<body>
    <h1>Available beds according to your location:</h1><br>
    <h2 style="color: red;">Please note the Hospital Name and Bed no.</h2>

    <p><b>Hospital Name, Bed Number:</b></p>

    {% for x in available%}
       
      Hospital: {{x}}  
      <br>
    {% endfor %}
    <br>
    <a href="./"><input type="button" value="Home" /></a>

</body>
</html>